.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.cart-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clear-cart-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.empty-cart {
    text-align: center;
}

.empty-cart-image {
    width: 150px;
    height: 150px;
    margin: 20px 0;
}

.continue-shopping-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #87bc9d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #87bc9d;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-price-card {
    margin-top: 20px;
    border: 1px solid #87bc9d;
    border-radius: 15px;
    padding: 20px;
    background-color: #f7f7f7;
}

.total-price-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkout-btn {
    display: block;
    width: 95%;
    padding: 10px;
    background-color: #87bc9d;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
p {
    color: #000;
}
span {
    color: #000;
}
h3 {
    color: #000;
}

